#page {
  background-color: #fceea7;
}
img{
  max-width: 100px;
  max-height: 100px;
}
h1{
  text-align: center;
}
li {
  font-size: large;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  background: #fceea7;
  
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.container {
  width:100%;
  padding: 70px 0px 70px 0px;
  margin: 0;
}